.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .chart h2 {
    margin-bottom: 10px;
    color: black;
  }
  .back{
    margin-top: 50px;
  }
  .back-button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    width: 180px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    transition:800ms ease all;
    outline:none;
    font-size: 1rem;
  }
  .back-button:hover{
  background:#fff;
  color:#1AAB8A;
}
  .back-button:before,.back-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.back-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.back-button:hover:before,.back-button:hover:after{
  width:100%;
  transition:800ms ease all;
}
  .chart-container {
    width: 80%;
    max-width: 800px;
    height: 400px;
    margin-top: 20px;
  }
  